.navbar{
    background-color: #3D4152;
    color:white;
  }
  nav a:hover{
    color: #FFBF00;
  }
  nav a{
    color:white;
  }

  body{
    background-color: #6C464F;
}

#full{
  color: #f0f1f2f3;
}

h1{
  color: #FFBF00;
}

.custom-toggler.navbar-toggler { 
  border-color: #FFBF00; 
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}