.navbar{
    background-color: #3D4152;
    text:white;
  }
  nav a:hover{
    color: #FFBF00;
  }
  nav a{
    color:white;
  }

  body{
    background-color: #6C464F;
}

#full{
  color: #f0f1f2f3;
}

h1{
  color: #FFBF00;
}